<!doctype html>
<html>
 <head>  
  <meta charset="UTF-8" name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;golftheme&quot;}">
  <meta charset="UTF-8" name="vaadin-version" content="7.7.0">
  <meta charset="UTF-8" name="package-mapping" content="ui:com.kumbirai.golf.ui">
 </head> 
 <body> 
  <vaadin-css-layout style-name="input-form-wrapper" id="course-form" size-full> 
   <vaadin-form-layout style-name="form-layout"> 
    <vaadin-text-field required-error="Course name is required" caption="Course" required width="400px" _id="courseName"></vaadin-text-field> 
    <ui-course-info-field _id="holes"></ui-course-info-field> 
   </vaadin-form-layout> 
   <vaadin-horizontal-layout spacing> 
    <vaadin-button style-name="primary" _id="save">
      Save 
    </vaadin-button> 
    <vaadin-button style-name="cancel" click-shortcut="escape" _id="cancel">
      Cancel 
    </vaadin-button> 
    <vaadin-button style-name="danger" _id="delete">
      Delete 
    </vaadin-button> 
   </vaadin-horizontal-layout> 
  </vaadin-css-layout>  
 </body>
</html>